

.temp__sentBox{
    padding: 40px 0px 40px;
    text-align: center;
}

.upload_check{ 
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
        border:1px solid #3E3E3E;  
        margin: auto;  
        position: relative;

        &.done:before{
            content:'';
            position: absolute;
           
            box-sizing: border-box;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            left: 50%;
            top:50%;
            transform: translate(-50%,-50%);            
            background:#ff5268; ;
            
        }
}
.temp__sent.upload_del,
.temp__sent.upload_action{
    background:none;
    border:0px;
}


/*  popup */
.msg{
    h3{
        margin-bottom: 20px;
        font-size:20px;
    }
    a{       
        display: block;
        text-align: center;
        border: 1px solid #3E3E3E;
        color: #3E3E3E;
        width: 160px;
        height: 46px;
        display: inline-block;
        margin: auto;
        background-color: white;
        cursor: pointer;
        font-size: 1em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;        
    }
}



/*  award */
#award_outter{
    max-width: 1400px;;
    width:100%;
    background:none;

    #award{
        display: flex;
        align-items: center;
        justify-content: center;

        .left{
            width:40%;
            margin-right:10px;
            img{
                display: block;
                width: 100%;;
            }
        }
        #award_box{
           
            width:60%;
            max-width: 600px;;
            height:500px;
            background-image:url('../img/bk.png');
            background-size: cover;
            display: flex;
            padding:14px 16px;

            justify-content: space-between;
            flex-wrap: wrap;

            .cbox{
                width:183px;
                height:150px;
                background:#fff;
                background-image: url('../img/award.png');;
                background-size: 600px auto;
                background-repeat: no-repeat;
                position: relative;
                &:before{
                    content:'';
                    box-sizing: border-box;
                    position: absolute;
                    left: 0;
                    top:0;
                    width:100%;
                    height:100%;
                    border:6px solid #d33177;
                    opacity: 0;
                }

                &.active:before{
                    opacity: 1;
                }
            }



            #cbox1{
                background-position:-15px -12px;
            }

            #cbox2{
                background-position:-210px -12px;
            }

            #cbox3{
                background-position:-400px -12px;
            }

            #cbox4{
                background-position:-15px -175px;
            }

            #cbox5btn{
                background-image: url(../img/btn.svg);
                background-color: transparent;
                background-size: auto 100%;
                background-position: center;   
                cursor: pointer;
                
                transform: scale(0.98);
                transition: 0.3s;
                &:hover{
                    transform: scale(1);
                }
                &:active{
                    transform: scale(0.95);
                }         
            }

            #cbox5{
                background-position:-400px -175px;
            }

            #cbox6{
                background-position: -15px -335px;
            }

            #cbox7{
                background-position: -210px -335px;
            }

            #cbox8{
                background-position: -400px -335px;
            }

           
        }
    }
}




.rotate {
    animation: rotation 2s infinite linear;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }



#award_info{
    width:100%;

    .top{
        img{
            display: block;
            max-width: 550px;
            width: 100%;
            margin: auto auto 10px;
        }
    }

    .bottom{
        img{
            max-width: 550px;;
            width:100%;
            margin: auto auto 10px;
        }
    }

    .action{
        img{
            max-width: 255px;;
            width:100%;
            display: block;
            margin: auto auto auto;
        }
    }
}


@media (max-width: 1100px) {

    .fancybox-content{
        padding:20px;
    }

    #award{
        flex-wrap: wrap;
    }

    #award_outter #award .left{
        max-width: 90%;;
    }

    #award_outter #award .left,
    #award_outter #award #award_box{
        width:100%;
    }
}

@media (max-width: 768px) {

    #award_outter #award #award_box {
        width: 100%;
        height: auto;;
    }

    #award_outter #award #award_box .cbox{
        width: calc(33% - 10px);
        height: 130px;
        margin-bottom: 14px;;
    }

    #award_outter #award #award_box .cbox{
        background-size: 500px auto;
    }
    #award_outter #award #award_box{
        #cbox2{
            background-position: -175px -12px;
        }
        #cbox3{
            background-position: -340px -12px;
        }
        #cbox4{
            background-position: -15px -145px;
        }
        #cbox5{
            background-position: -340px -145px;
        }
        #cbox6{
            background-position: -15px -280px;
        }
        #cbox7{
            background-position: -175px -280px;
        }
        #cbox8{
            background-position: -340px -280px;
        }
    }
}


@media (max-width: 450px) {

    #award_outter{
        padding:0 10px;
    }

    #award_outter #award #award_box {
        width: 100%;
        padding: 8px 8px 0px 8px;
        height: auto;;
    }

    #award_outter #award #award_box .cbox{
        width: calc(33% - 10px);
        height: 100px;
        margin-bottom: 14px;;
    }
    #award_outter #award #award_box .cbox{
        background-size: 400px auto;
    }
    #award_outter #award #award_box{

        #cbox1{
            background-position: -10px -10px;
        }

        #cbox2{
            background-position: -140px -10px;
        }
        #cbox3{
            background-position: -268px -10px;
        }
        #cbox4{
            background-position: -15px -115px;
        }
        #cbox5{
            background-position: -268px -115px;
        }
        #cbox6{
            background-position: -15px -223px;
        }
        #cbox7{
            background-position: -140px -223px;
        }
        #cbox8{
            background-position: -268px -223px;
        }
    }
}