
@media (min-width: 1100px) {
    #aloha_head .main_inner #global-navigation .menu-main-container > ul li{
        // display: block;
    }
}



@media (max-width: 1100px) {
    #aloha_head #global-navigation .menu-toggle{
        display: block ! important;

        width: 22px;
        height: 75px;
        position: absolute;
        padding: 0px 10px 0px 0px;
        top: 0px;
        right: 15px;
        cursor: pointer;
        background:none;
        border:0px;
    
        span {
            display: block;
            background: #000;
            height: 2px;
            margin-top: 4px;
            transition: all 500ms ease-in-out;
            width: 16px;
        }
    }
    #aloha_head .main_inner{
        max-width: 970px;
        padding-left:15px;
        padding-right:15px;
        position: relative;
    }

    #aloha_head .main_inner #global-navigation {
     //   height: 0;
      //  overflow: hidden;
      //  max-height: 0;       
      
        .menu-main-container {
            padding:0;
            position: absolute;
            top: 85px;
            width: 100%;
            background: #fff;
            max-width: 720px;;

            > ul {
                height:auto;
                flex-wrap: wrap;
                li{
                    width: 100%;;
                    height:auto;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    position: relative;
                
                    a{
                        height:auto;
                        padding: 10px 18px 10px 10px;
                        font-size: 16px;    
                        display: block;       
                        font-weight: 300;             
                    }

                    .dbtn{
                        position: absolute;;
                        width:42px;
                        height:42px;
                        top:0;
                        right:0;
                        display: flex;
                        cursor: pointer;
                        align-items: center;
                        justify-content: center;
                        font-size: 20px;
                        font-weight: bold;                        
                    }

                    .sub-menu{
                        position: relative;
                        display: none;
                        top:0;
                        width:100%;;
                        margin-left:0;
                    }
                }
            }
        } /*  .menu-main-container  */

    }
}