/* -- Homepage Features within Slider -- */

.wpb_row.slider-features {
    z-index: 30;
}

.wpb_row.slider-features {
    overflow: visible;
    position: relative;
    z-index: 30;
    clear: none;
  }
  
  .slider-features .vc_column_container > .vc_column-inner {
    margin-top: -165px;
  }
  
  .slider-features .vc_column_container > .vc_column-inner .vc_column-inner {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
  }
  
  .slider-features .vc_column_container {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .slider-features .vc_column_container .vc_column_container {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .slider-features .wpb_text_column {
    margin: 0px;
    margin-top: -22px;
    padding: 0px 15px;
  }
  
  .content-area .entry-content .slider-features p {
    line-height: 1.4em;
  } 
  
  .slider-features i {
    position: absolute;
    bottom: 8px;
    left: 15px;
    font-size: 15px;
    transition: all 0.2s ease 0s;
  }
  
  .slider-features .vc_inner:hover i {
    transform: translateY(3px);
  }
  
  .slider-features .wpb_single_image img {
    height: auto;
    max-width: 100%;
    vertical-align: top;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-left: none;
    margin-top: -1px;
    margin-bottom: -1px;
  }
  